body {
	background-color: #ffffff;
	background-image: url("background.jpg");
	background-repeat: repeat-y;
	color: #000000;
	font-family: times, gill, serif;
	font-size: 12pt;
	margin-left: 0pt;
	margin-top: 0pt;
}
table.header {
	width: 100%;
	border-collapse: collapse;
	border: 0px;
}
td.header_1 {
	width: 180px;
	vertical-align: top;
	padding: 0 0 0 0;
}
td.header_2 {
	background-image: url("home_top_gradient.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0% 0%;
	padding: 0 0 0 0;
}
td {
	padding: 0em;
}
div.header {
	text-align: center;
	font-size: 18pt;
	vertical-align: top;
	font-family: times, gill, serif;
	font-size: 24pt;
}
div.body_indent {
	margin-left: 180px;
	text-align: left;
	font-size: 12pt;
}
span.toxlinked {
	color: white;
	background-color: red;
	text-decoration: none;
}
table.menu {
	padding: 0 0 0 0;
	border-collapse: collapse;
	margin: 0em;
	width: 350px;
}
table.menu_table {
	border: 0px;
	padding: 0 0 0 0;
	margin: 0em;
	width: 170px;
	float: left;
}
td.menu_col {
	vertical-align: top;
}
td.menu {
	vertical-align: top;
	background: #2b0483;
	border: inset 2pt;
	width: 170px;
	text-indent: 4px;
	font-size: 14pt;
	border-radius: 8px;
	-moz-border-radius: 8px 8px 8px 8px; 
	-khtml-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
}
a.menu:link {
	color: white;
	text-decoration: none;
}
a.menu:visited {
	color: white;
	text-decoration: none;
}
a.menu:hover {
	color: white;
	background; blue;
	font-weight: bold;
	text-decoration: none;
}
td.menu_current {
	vertical-align: top;
	background: white;
	border: inset 2pt;
	width: 170px;
	text-indent: 4px;
	font-size: 14pt;
	border-radius: 8px;
	-moz-border-radius: 8px; 
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
}
a.menu_current:link {
	color: #2b0483;
	text-decoration: none;
}
a.menu_current:visited {
	color: #2b0483;
	text-decoration: none;
}
a.menu_current:hover {
	color: #2b0483;
	background; white;
	font-weight: bold;
	text-decoration: none;
}
h2 {
	padding-top: 6px;
	padding-bottom: 0px;
	margin-bottom: 0px; 
}
h3 {
	padding-top: 3px;
	padding-bottom: 0px;
	margin-bottom: 0px; 
}

.ui-dialog-titlebar
{
    background-color: #F9A7AE;
    background-image: none;
    color: Black;
}

div#content {
    display: none;
    }
 
div#loading {             
    top: 0px;
    left: 150px;
    margin: auto;
    position: fixed;
    z-index: 1000;
    width: 215px;
    height: 84px;
    background: url(InvTox2.gif) no-repeat;
    cursor: progress;                
    }


.tooltip {
	border-bottom: 1px dotted #000000; color: #000000; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	position: absolute; left: 1em; top: 0em; z-index: 99;
	margin-left: 0; width: 800px;
}
.tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	font-size: 12pt;
	display: block; padding: 0 0 0 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
		* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

/*	jquery section */
.ui-tooltip {
	display: inline-block;
	font-family: Candara, Tahoma, Geneva, sans-serif;
	font-size: 10pt;
}
.help-tooltip-styling {
	width: 150px;
	max-width: 150px;
}
.evid-tooltip-styling {
	width: 800px;
	max-width: 800px;
}
.ui-menu {
	width: 200px;
	border-width: 1px;
	list-style: none;
	margin: 0;
	display: block;
	outline: none;
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	font-size: 12pt;
}

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
